---
layout: default
title: Applications Supporting GitLab
---
<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="col-sm-9 col-md-9"> 
        <p>The <a href="http://doc.gitlab.com/ce/api/README.html">GitLab API</a> enables other applications to bring more
    value to GitLab. Check out the <a href="http://doc.gitlab.com/ce/api/README.html">API</a> and once you are done creating
your GitLab Integration, file a <a href="https://gitlab.com/gitlab-com/www-gitlab-com/merge_requests">merge request</a> to add your application to the list.
</p>
    <h2>Bug Reporting</h2>
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <h3>Usersnap</h3>
              <p>
               <a href="https://usersnap.com/gitlab"><img src="../images/applications/usersnap.png" alt="Usersnap" width="128" border=0/></a><br>
              Add annotated screenshots to every issue in GitLab. A picture paints a thousand words, so reproducing the bug gets as simple as possible.
              </p>
              <p><a href="https://usersnap.com/gitlab">www.usersnap.com</a></p>
            </div>
          </div>
        </div>
    <h2>CMS Plugins</h2>
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <h3>Drupal</h3>
              <p>
            Connect your Drupal site to a GitLab instance using web services.<br><br>
This is purely an API module. You should only enable it if another module requires it or if you want to build code against this API.
              </p>
              <p><a href="https://www.drupal.org/project/gitlab">www.drupal.org</a></p>
            </div>
            <div class="col-sm-12 col-md-4">
              <h3>Dropfort</h3>
              <p>
              Dropfort helps you to organize your Drupal projects and manage your sites in one simple interface.
              </p>
              <p><a href="http://dropfort.com">www.dropfort.com</a></p>
            </div>
          </div>
        </div>
    <h2>Desktop Apps</h2>
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <h3>Git Tower</h3>
              <p>
              Version control with Git - made easy.
In a beautiful, efficient, and powerful app for Mac OS X.
              </p>
              <p><a href="http://www.git-tower.com/">www.git-tower.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
