---
layout: default
title: Installation methods for GitLab
suppress_header: true
---

<div class="wrapper container">

  <div class="col-md-12" role="main">
    
    <div class="method">
      <h1>Installing GitLab</h1>
      <p>
        Below are all the options to create a GitLab installation.
        If you're not sure which method to choose, please use the package installation method.
      </p>
    </div>

    <div class="method">
      <h2 id="#omnibus">Package installation (recommended)</h2>
      <p>
        We recommend installing GitLab in 2 minutes using our packages.
        A package contains GitLab and all its depencies (Ruby, PostgreSQL, Redis, Nginx, Unicorn, etc.).
        For troubleshooting and configuration options please see the <a href="https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/README.md">Omnibus GitLab readme</a>
      </p>
      <ul>
        <li><p><a href="/downloads">Gitlab Community Edition packages</a></p></li>
        <li><p><a href="https://gitlab.com/subscribers/gitlab-ee/blob/master/doc/install/packages.md">Gitlab Enterprise Edition packages</a> (subscribers only)</p></li>
      </ul>
    </div>

    <div class="method">
      <h2>Other official installation methods</h2>
      <ul>
        <li><p>
          <a href="https://gitlab.com/gitlab-org/cookbook-gitlab/tree/master#production-installation">GitLab Chef Cookbook</a> This cookbook can be used both for development installations and production installations.
        </p></li>

        <li><p><a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/install/installation.md">Manual installation guide</a> This guide to set up a production server on Ubuntu offers detailed and complete step-by-step instructions.</p></li>
      </ul>
    </div>

    <div class="method">
      <h2>Third party one-click installers</h2>
      <ul>
        <li><p><a href="https://www.digitalocean.com/company/blog/host-your-git-repositories-in-55-seconds-with-gitlab/">Digital Ocean 1-Click Application Install</a> Have a new server up in 55 seconds. Digital Ocean uses SSD disks which is great for an IO intensive app such as GitLab. We recommend selecting a droplet with <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/install/requirements.md">1GB of memory.</a></p></li>

        <li><p><a href="http://bitnami.com/stack/gitlab">BitNami one-click installers</a> This package contains both GitLab and GitLab CI. It is available as installer, virtual machine or for cloud hosting providers (Amazon Web Services/Azure/etc.).</p></li>

        <li><p><a href="http://blog.cloud66.com/installing-gitlab-ubuntu/">Cloud 66 deployment and management</a> Use Cloud 66 to deploy GitLab to your own server or any cloud (eg. DigitalOcean, AWS, Rackspace, GCE) and then manage it with database backups, scaling and more.</p></li>

        <li><p><a href="https://pkgr.io/apps/gitlabhq/gitlabhq">Pkgr.io</a> provides autogenerated apt packages for Debian and Ubuntu.</p></li>
      </ul>
    </div>

    <div class="method">
      <h2>Community installation methods</h2>
      <ul>
        <li><p><a href="https://gitlab.com/gitlab-org/gitlab-recipes/">GitLab recipes</a> repository with unofficial guides for using GitLab with different software (operating systems, webservers, etc.) than the official version.</p></li>

        <li><p><a href="https://github.com/gitlabhq/gitlab-public-wiki/wiki/Unofficial-Installation-Guides">Unofficial installation guides</a> on the public wiki to install GitLab on different operating systems.</p></li>

        <li><p><a href="https://github.com/sameersbn/docker-gitlab">Docker</a> Sameer Naik made a nice Dockerfile to build a GitLab container image</p></li>

        <li><p><a href="https://forge.puppetlabs.com/modules?utf-8=%E2%9C%93&sort=rank&q=gitlab">Puppet</a> has multiple modules, <a href="https://forge.puppetlabs.com/sbadia/gitlab">Sebastien Badia made a popular one</a> and <a href="https://forge.puppetlabs.com/spuder/gitlab">Spencer Owen made one that work with 7.0 and up</a></p></li>
      </ul>
    </div>

    <div class="method">
      <h2>GitLab Development installation</h2>
      <p> If you want to <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md">contribute</a> to GitLab we suggest you select a <a href="https://gitlab.com/gitlab-org/cookbook-gitlab/tree/master#development-installation"> development installation option in the GitLab Cookbook readme</a> to install all testing dependencies.</p>
    </div>

    <div class="method">
      <h2>GitLab as a Service - Hosted GitLab</h2>
      <ul>
        <li><p>
          <a href="https://gitlab.com">GitLab.com</a> Free, hosted GitLab by GitLab B.V., also the canonical location of the GitLab source code.
        </p></li>

        <li><p><a href="https://githost.io/">GitHost.io</a> Private, managed GitLab instances in the Cloud.</p></li>

        <li><p><a href="http://blog.geekli.st/post/79731331374/free-private-git-repositories-come-out-of-beta-on">Geeklist</a></p></li>

        <li><p><a href="http://cloudhost.io/">Cloudhost.io</a></p></li>

      </ul>
    </div>

  </div>
</div>

<link href="/stylesheets/sticky_footer.css" rel="stylesheet">
<link href="/stylesheets/installation.css" rel="stylesheet">
