---
layout: default
title: GitLab Community Edition features
---
<div id="content">
  <div class="container txt-lefty">         
    <div class="row">
      <div class="col-sm-9 col-md-9">   
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <p>Unified and side-by-side diffs
              <p>Merge requests for code review
              <p>Line specific comments
              <p>Issues with attachments
              <p>Issue labels and assignments
              <p>Issue milestones / sprints
              <p>Link to an external issue tracker
              <p>Activity feed per project
              <p>User dashboard with filters
              <p>Comprehensive activity feed
              <p>A wiki which is stored in git
              <p>Code snippets
              <p>Branches and a network graph
              <p>Unique permission levels per user and project (guest, reporter, developer, master, owner)
              <p>Protected branches (only masters can push to protected branches)
              <p>Forking of repo's
              <p>Merge requests between forks
              <p>Groups consisting of multiple people with a shared namespace for projects
              <p>Multiple deploy keys are possible for the same project
              <p>Multiple projects are possible for the same deploy key
              <p>Global and per project notification settings
              <p>Http(s) and ssh git access
              <p>LDAP user authentication (also compatible with Active Directory)
              <p>Single Sign On (SSO) support via <a href="https://github.com/intridea/omniauth/wiki/List-of-Strategies#developer-strategies">Omniauth strategies</a>
              <p>Web hooks
              <p>Convenient backups
              <p>Administrative interface
              <p>Web based editor
              <p>Code search
              <p>Runs on physical and virtual machines
              <p><a href="https://www.gitlab.com/high-availability/">High availability / clustering / scale out</a>
              <p>Access to the source code
              <p>Broadcast messages
              <p>&nbsp;
              <p><a href='/gitlab-ee/'>GitLab Enterprise Edition</a> includes even more features
            </div>              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
