<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GitLab Blog | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="alternate" type="application/atom+xml" title="Blog" href="/atom.xml" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/glyphicons.css" rel="stylesheet">
    <link href="/stylesheets/base.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/ico/favicon.png">

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37019925-1']);
      _gaq.push(['_setDomainName', 'gitlab.com']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    </script>

  </head>  
  <body>

      <div class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-gl-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand animated" href="/"><img src="/images/wordmark_inverted_small.png" class="nav-logo"></a>
            </div>

            <div class="collapse navbar-collapse" id="main-gl-nav">
              <ul class="nav pull-right animated navbar-nav">
                <li><a href="/products">Products</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/company">Company</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="https://gitlab.com/users/sign_in">Sign in</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    <div id="content blog">
      <div class="container">     
        <div class="row">
          <div class="col-sm-12"> 
              <div class="row">
                <div class="col-sm-9 blog-entry">
                  <h1 class="title">{{ page.title }}</h1>
                  <h4 class="date">{% include post/date.html %}{{ time }}</h4>
                  {{ content }}
                </div>
              </div>

            <div id="disqus_thread"></div>
            <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            {% if page.comments != false %}
              {% comment %} `page.comments` can be only be set to true on pages/posts, so we embed the comments here. {% endcomment %}
              {% if page.community == true %}
                var disqus_shortname = 'bloggitlabhqcom';
                //var disqus_developer = 1;
                var disqus_identifier = 'http://blog.gitlabhq.com/{{ page.url | remove_date_from_path }}/';
                var disqus_url = 'http://blog.gitlabhq.com/{{ page.url | remove_date_from_path }}/';
              {% else %}
                var disqus_shortname = 'gitlab'; // required: replace example with your forum shortname
                //var disqus_developer = 1;
                var disqus_identifier = '{{ site.url }}{{ page.url }}';
                var disqus_url = '{{ site.url }}{{ page.url }}';
              {% endif %}
              var disqus_script = 'embed.js';
            {% else %}
              {% comment %} As `page.comments` is empty, we must be on the index page. {% endcomment %}
              var disqus_script = 'count.js';
            {% endif %}
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
             })();
            </script>
            <noscript>Please enable JavaScript to view the &lt;a href="http://disqus.com/?ref_noscript"&gt;comments powered by Disqus.&lt;/a&gt;</noscript>
          </div>
        </div>
      </div>
    </div>


    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
