---
layout: default
title: GitLab Enterprise Edition
---
<div id="content">
  <div class="container txt-lefty">         
    <div class="row">
      <div class="row">
        <div class="col-sm-12 col-md-12 jumbotron">
          <p>
            The Enterprise Edition is made for the enterprise with exclusive features aimed at larger organizations.
            <br />
            It contains copyrighted code that requires you to have a valid <a href="/subscription">subscription</a>.
            <br />
            GitLab EE is on-premises software that you can install and use on your server(s).
          </p>
          <div class="button-holder">
            <a class="btn btn-success btn-lg" href="/subscription/">Order a subscription</a>
          </div><!-- button-holder -->
        </div> <!-- span 12 -->
      </div><!-- row -->
      <div class="col-sm-9 col-md-9">   
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <p>
                <strong>Feature comparision between Community Edition and Enterprise Edition</strong>
                <br>

              </p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Feature</th>
                    <th>Community Edition</th>
                    <th>Enterprise Edition</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href='/gitlab-ce-features/'>All the features of the Community Edition</a></td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td>Groups consisting of multiple people with a shared namespace for projects</td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td>Share a project with other groups</td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><a href='http://doc.gitlab.com/ee/integration/ldap.html#gitlab-ldap-integration'>LDAP user authentication (also compatible with Active Directory)</a></td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><a href='http://doc.gitlab.com/ee/integration/ldap.html#ldap-group-synchronization-gitlab-enterprise-edition'>LDAP group synchronization (also compatible with Active Directory)</a></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><a href='http://doc.gitlab.com/ee/git_hooks/git_hooks.html'>Git hooks (commit message must mention an issue, no tag deletion, etc.)</a></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><a href='http://doc.gitlab.com/ee/customization/branded_login_page.html'>Branded login page </a></td>
                    <td style="color:red">x</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><a href='http://doc.gitlab.com/ee/integration/jira.html'>Mention JIRA ticket from GitLab</a></td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><a href='http://doc.gitlab.com/ee/integration/jira.html'>Close JIRA issues with GitLab commits</a></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><a href='http://doc.gitlab.com/ee/integration/jenkins.html'>Display merge request status for builds on Jenkins CI</a></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><a href='https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/README.md#using-a-non-packaged-postgresql-database-management-server'>Omnibus package supports configuring an external PostgreSQL database</a></td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><a href='https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/README.md#using-a-mysql-database-management-server-enterprise-edition-only'>Omnibus package supports configuring an external MySQL database</a></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><a href='https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/README.md#udp-log-shipping-gitlab-enterprise-edition-only'>Omnibus package supports log forwarding</a></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><a href='http://doc.gitlab.com/ee/integration/ldap.html#enabling-the-admin-group-feature'>Create and remove admins based on an LDAP group</a></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                </tbody>
              </table>
            </div>              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
