<ol>
  <li> <strong>Scope of services</strong>
  <p>
  The services to be provided shall consist of consulting provided by GitLab B.V. to the client.
  </p>

  <p>
  Unless specified otherwise the work will be performed remotely and is based on best effort.
  </p>
  </li>

  <li> <strong>Planning and appointment</strong>
  <p>
  If required GitLab B.V. and the client will schedule an appointment to perform the work.
  During the appointment the client will make an on-call engineer available that can answer operational questions.
  Examples of question subjects are: ssh access, file permissions, routing, email, backup settings, external issue tracker urls and LDAP configuration.
  </p>
  </li>

  <li> <strong>Estimates and Acceptance</strong>
  <p>
  Work can be performed based on an hourly estimate for (part of) the work or without an estimate.
  Estimates are a best-guess by GitLab B.V. and are not a guarantee that the work will be performed in that time or that it can be completed at all.
  If the client does not show up for the appointment GitLab B.V. can charge for the full duration of the appointment.
  During the appointment GitLab B.V. will provide status updates when requested to do so.
  The client can decide to terminate the consulting at any point after the start of the appointment.
  The client can decide to test the work during the appointment or afterwards.
  If there is additional work needed after testing this will be invoiced at the normal rate.
  </p>
  </li>

  <li> <strong>Ownership</strong>
  <p>
  Ownership, copyright and title of any software that is developed shall at all times remain with GitLab B.V. The client shall not acquire directly, indirectly or by implication any title, copyright or ownership in the software or any parts thereof.
  </p>

  <li> <strong>Rate and terms of payment</strong>
  <p>
  The number of billable hours is calculated by rounding up to the nearest hour.
  Work will be invoiced after it is performed.
  Payment can happen by international bank transfer to the Netherlands or by credit card, payment by cheque is not possible.
  </p>
  </li>

  <li> <strong>Disclaimer of warranty</strong>
  <p>
  GitLab.com makes no warranty, express or implied, with regard to the services provided, all such warranties are hereby excluded by GitLab B.V. and waived by the client.
  In no event will GitLab B.V. be liable to the client or any other individual or entity connected with the client for any claim, loss of revenue profits, sales, business, data, code, service, information exclusivity or damage of any kind of nature, arising out of or in connection with the Enterprise Support Subscription.
  In any event, GitLab B.V.'s maximum liability to the client shall be limited to the amounts actually paid to GitLab B.V. during the previous twelve (12) months.
  </p>
  </li>

  <li> <strong>Confidentiality</strong>
  <p>
  GitLab B.V. acknowledges that in the course of providing the services, and of other services provided, GitLab B.V. or its employees or consultants, may be supplied with or come into possession of information which is proprietary to the client.
  Including information as to code, licenses, methods of doing business, and operations.
  GitLab B.V. hereby agrees that it will keep all such information confidential, and will disclose such information to no other person or entity.
  In addition, GitLab B.V. agrees to take such action as may be necessary or appropriate by way of agreement with, and instruction to, its employees so as to maintain the confidentiality of such confidential information and licenses.
  </p>
  </li>

  <li> <strong>Partial invalidity</strong>
  <p>
  If any provision of this document is held by a court of competent jurisdiction to be invalid, void, or unenforceable, the remaining provisions shall nevertheless continue in full force without being impaired or invalidated in any way.
  </p>
  </li>

  <li> <strong>Failure to enforce</strong>
  <p>
  The failure of either party to enforce at any time, or for any period of time, the provisions hereof shall not be construed to be a waiver of such provisions or of the right of such party to enforce each and every such provision.
  </p>
  </li>

  <li><strong>Dispute resolution</strong>
  <p>
  The parties will engage in good faith negotiations to resolve the dispute for a period of ten (10) business days after written notice of the dispute or issue is provided by one party to the other. Within such ten (10) business days, representatives from each party will engage in negotiations to resolve the dispute, and such individuals will meet in person, via teleconference or via telephone and attempt to informally resolve the dispute or issues. If those persons are unable to resolve the dispute within such ten (10) business days, then unless the parties have mutually agreed to extend the negotiation period, a party may exercise its rights available to such party under this agreement or otherwise.
  </p>

  <li><strong>Arbitration</strong>
  <p>
  Any dispute, controversy or claim arising out of or relating to this contract, including the formation, interpretation, breach or termination thereof, including whether the claims asserted are arbitrable not resolved via the process laid out in Dispute resolution will then be referred to and finally determined by arbitration in accordance with the Arbitration Rules of the Netherlands Arbitration Institute.
  The arbitral tribunal shall be composed of one arbitrator.
  The place of arbitration shall be Utrecht or Amsterdam, The Netherlands.
  The arbitral procedure shall be conducted in the English language.
  Judgment upon the award rendered by the arbitrator(s) may be entered in any court having jurisdiction thereof.
  </p>
  </li>

  <li><strong>Forum selection</strong>
  <p>
  This agreement shall be governed by and interpreted in accordance with the laws of the Netherlands.
  </p>
  </li>
</ol>
<p>
  <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">Creative Commons Sharealike</a> license
</p>
